<div class="share-page">
    If you enjoyed, please share this post on: &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
        rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>&emsp;
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
        title="Share on Facebook">Facebook</a>&emsp;
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ page.meta-description }}>&source={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank"
        title="Share on LinkedIn+">LinkedIn+</a>
</div>