/* General */

body {
    background-color: rgb(245, 245, 245);
}

a {
    color: #2e3141;
    font-weight: bold;
}

.container-blog-home {
    width: 80%;
    margin: 0 auto;
    max-width: 2000px;
}

a:hover {
    text-decoration: none;
}

a.left {
    position: relative;
}

a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

a.left2:before {
    background-color: #2e3141;
}

a.left2:hover {
    color: #2e3141;
}

.w3-container ul li {
    padding: 5px;
}

.row {
    padding-top: 30px;
}

.w3-card-4 {
    margin-top: 20px;
}

.img-container {
    width: 100%;
    height: 60vh;
    position: relative;
    text-align: left;
    background-color: #000;
    color: #fff;
}

.bottom-left {
    position: absolute;
    bottom: 40%;
    left: 10%;
    width: 50%;
}

@media screen and (max-width: 1090px) {
    .bottom-left {
        bottom: 25%;
        left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .bottom-left {
        bottom: 20%;
        left: 10%;
        width: 90%;
    }
    .a-main-post-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 376px) {
    .bottom-left {
        bottom: 20%;
        left: 10%;
        width: 90%;
    }
    .a-main-post-title {
        font-size: .8em;
    }
}

.img-slider {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .4;
}

.bottom-left h2 {
    font-size: 3em;
}

.card {
    /* 22 */
    width: 26rem;
    margin-top: -30px;
    margin-bottom: 35px;
}

.card-post-categories {
    float: left;
    text-align: left;
    margin-right: 10px;
    color: #2e3141;
    font-size: .9em;
    font-weight: bold;
}

.category-container {
    margin-top: 10px;
}

.card-post-title {
    text-align: left;
    float: left;
    margin: 5px 0;
    color: #2e3141;
}

.card-post-author-date {
    float: left;
    text-align: left;
    margin: 5px 0;
}

.card-post-description {
    margin: 15px 0;
    text-align: left;
    float: left;
    color: rgb(117, 117, 117);
}

.card-img-top {
    transition: transform .5s ease;
}

.card:hover .card-img-top {
    transform: scale(1.5);
}

.card-img-top-container {
    overflow: hidden;
}

.img-post-second-section {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
}

@media screen and (max-width: 1199px) {
    .img-post-second-section {
        height: auto;
        object-fit: auto;
    }
}

.btn {
    background: #2e3141;
    border: 1px solid #2e3141;
}

.btn:hover {
    background: #fff;
    border: #2e3141 1px solid;
    color: #2e3141;
    transition: .35s ease;
}

.a-main-post-title:hover {
    color: #fff;
    text-decoration: none;
}

.col-lg-9 h2, .col-lg-9 p, .col-lg-9 h4, .col-lg-9 h3, .col-lg-9 h5, .col-lg-9 h6 {
    color: #2e3141;
}

.col-lg-9 h2 {
    padding-top: 10px;
}

.col-lg-9 h2 {
    font-size: 2.5em;
}

.row-2-hover:hover .img-post-second-section {
    margin-top: -10px;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
}

/* Flex box for posts */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    /* was flex start */
    align-content: flex-start;
}

/* Next and Previous post */

.img-container1 {
    width: 100%;
    max-height: 250px;
    background-color: #000;
}

.img-container1 img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.img-container1:hover img {
    opacity: .4;
}

.img-container1 a, .img-container1 p {
    color: #fff;
}

.next-prev-img-col {
    padding: 0;
    margin: 0;
}

/* tags */

.tag-p {
    color: #2e3141;
    display: inline-block;
    border: 1px solid #2e3141;
    border-radius: 50px;
    padding: 2px 5px;
    margin-right: 5px;
    margin-top: 50px;
}

.tag-p:hover {
    background-color: #2e3141;
    color: #fff;
}

.blog-post-imbedded-img img {
    max-width: 750px;
    max-height: 300px;
    margin: 30px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media screen and (max-width: 769px) {
    .blog-post-imbedded-img img {
        width: 90%;
        height: auto;
        max-height: 500px;
        object-position: contain;
    }
}

/* highlight */

.highlight {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 5px 5px 5px;
}

#actual-content-text p {
    font-size: 1.2em;
    padding: 5px 0;
}

#actual-content-text a {
    position: relative;
    font-weight: normal;
    color: blue;
}

#actual-content-text a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2e3141;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#actual-content-text a:hover::before {
    visibility: visible;
    width: 100%;
}

#actual-content-text a::before {
    background-color: #2e3141;
}

#actual-content-text a:hover {
    color: #2e3141;
}

blockquote {
    background: #fff;
    border-left: 10px solid #2e3141;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #2e3141;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

/* .table, table tr, table td, table th {
    border: 1px solid #2e3141;
    text-align: left;
    padding: 5px;
} */

.row-nex-prev-posts {
    width: 100%;
}