a:hover {
    text-decoration: none;
}

a.left {
    position: relative;
}

a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

a.left2:before {
    background-color: #2e3141;
}

a.left2:hover {
    color: #2e3141;
}

.w3-container ul li {
    padding: 5px;
}

.row {
    padding-top: 30px;
}

.w3-card-4 {
    margin-top: 20px;
}

.img-container {
    width: 100%;
    height: 60vh;
    position: relative;
    text-align: left;
    background-color: #000;
    color: #fff;
}

.bottom-left {
    position: absolute;
    bottom: 40%;
    left: 10%;
    width: 50%;
}

@media screen and (max-width: 1090px) {
    .bottom-left {
        bottom: 25%;
        left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .bottom-left {
        bottom: 20%;
        left: 10%;
        width: 90%;
    }
    .a-main-post-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 376px) {
    .bottom-left {
        bottom: 20%;
        left: 10%;
        width: 90%;
    }
    .a-main-post-title {
        font-size: .8em;
    }
}

.img-slider {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .4;
}

.bottom-left h2 {
    font-size: 3em;
}

.card-post-categories {
    float: left;
    text-align: left;
    padding-right: 10px;
    color: #2e3141;
    font-size: .9em;
    font-weight: bold;
}

.category-container {
    margin-top: 10px;
}

.card-post-title {
    text-align: left;
    float: left;
    padding: 5px 0;
    color: #2e3141;
}

.card-post-author-date {
    float: left;
    text-align: left;
    padding: 5px 0;
}

.card-post-description {
    padding: 15px 0;
    text-align: left;
    float: left;
    color: rgb(117, 117, 117);
}

.card-img-top {
    transition: transform .5s ease;
}

.card:hover .card-img-top {
    transform: scale(1.5);
}

.card-img-top-container {
    overflow: hidden;
}

.img-post-second-section {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .img-post-second-section {
        height: auto;
        object-fit: auto;
    }
}

.btn {
    background: #2e3141;
    border: 1px solid #2e3141;
}

.btn:hover {
    background: #fff;
    border: #2e3141 1px solid;
    color: #2e3141;
    transition: .35s ease;
}

.a-main-post-title:hover {
    color: #fff;
    text-decoration: none;
}

.col-lg-9 h2, .col-lg-9 p, .col-lg-9 h4, .col-lg-9 h3, .col-lg-9 h5, .col-lg-9 h6 {
    color: #2e3141;
}

.col-lg-9 h2 {
    padding-top: 10px;
}

.col-lg-9 h2 {
    font-size: 2.5em;
}

.row-2-hover:hover .img-post-second-section {
    margin-top: -10px;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
}

/* Flex box for posts */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

/* Next and Previous post */

.img-container1 {
    max-width: 100%;
    max-height: 250px;
}

.img-container1 img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.img-container1:hover img {
    opacity: .6;
}

.img-container1 a, .img-container1 p {
    color: #fff;
}

.next-prev-img-col {
    padding: 0;
    margin: 0;
}

/* tags */

.tag-p {
    color: #2e3141;
    display: inline-block;
    border: 1px solid #2e3141;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.tag-p:hover {
    background-color: #2e3141;
    color: #fff;
}