---
layout: blog-default
---

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<!-- Slider -->
{% for post in site.posts limit:1 %}
<div class="img-container">
    <img class="img-slider" src="{{ post.img }}" alt="{{ post.alt }}">
    <div class="bottom-left container">
        <p>By <strong>{{ post.author }}</strong> in <strong>{{ post.categories[0] }}</strong></p>
        <a class="a-main-post-title" href="{{ site.url }}/{{ post.url }}"><h2>{{ post.title }}</h2></a>
        <a href="{{ site.url }}/{{ post.url }}"><button class="btn btn-primary">Read Article <i
                    class="fa fa-arrow-right"></i></button></a>
    </div>
</div>
{% endfor %}

<!-- First post section -->
<div class="container">
    <div class="row">
        {% for post in site.posts limit:3 offset:1 %}
        <div class="col-md">
            <div class="w3-card-4" style="width: 100%" data-aos="fade-up">
                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img }}" alt="{{ post.alt }}"
                        style="width:100%"></a>
                <div class="w3-container w3-center">
                    {% for category in post.categories %}
                    <div class="category-container">
                        <a href="#" class="card-post-categories">
                            <p>{{ category }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    <h3 class="card-post-title">{{ post.title }}</h3>
                    <p class="card-post-description">{{ post.description }}</p>
                    <small class="card-post-author-date">Written by {{ post.author }} on
                        {{ post.date | date: '%B %d, %Y' }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for post in site.posts limit:3 offset:4 %}
        <div class="col-md">
            <div class="w3-card-4" data-aos="fade-up">
                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img }}" alt="{{ post.alt }}"
                        style="width:100%"></a>
                <div class="w3-container w3-center">
                    {% for category in post.categories %}
                    <div class="category-container">
                        <a href="#" class="card-post-categories">
                            <p>{{ category }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    <h3 class="card-post-title">{{ post.title }}</h3>
                    <p class="card-post-description">{{ post.description }}</p>
                    <small class="card-post-author-date">Written by {{ post.author }} on
                        {{ post.date | date: '%B %d, %Y' }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Ad -->
    <div class="container">
        <div class="row" style="max-height: 100px; width: 100%;">
            {% include home-ad.html %}
        </div>
    </div>

    <!-- Second post section -->
    <div class="row">
        <div class="col-lg-9">
            {% for post in site.posts limit:3 offset:7 %}
            <div class="row" data-aos="fade-up">
                <div class="col-md-4">
                    <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img }}" alt="{{ post.alt }}"
                            class="img-post-second-section"></a>
                </div>
                <div class="col-md-8">
                    {% for category in post.categories %}
                    <div class="category-container">
                        <a href="#" class="card-post-categories">
                            <p>{{ category }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    <h3 class="card-post-title">{{ post.title }}</h3>
                    <p class="card-post-description">{{ post.description }}</p>
                    <small class="card-post-author-date">Written by {{ post.author }} on
                        {{ post.date | date: '%B %d, %Y' }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>

{% include footer-files.html %}
