---
layout: blog-default
---

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<h1>Blog Home</h1>

<div class="row">
    <div class="col">
        {% for post in site.posts limit:2 %}
        <div class="w3-card-4">
            <a href="{{ post.url }}"><img src="{{ post.img }}" alt="{{ post.alt }}" style="width:100%"></a>
            <div class="w3-container w3-center">
                <ul style="list-style: none">
                    <li>Date: {{ post.date }}</li>
                    <li>Author: {{ post.author }}</li>
                    <li style="text-align: left">
                        <p>{{ post.excerpt }}</p>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        {% for post in site.posts limit:2 %}
        <div class="w3-card-4">
            <a href="{{ post.url }}"><img src="{{ post.img }}" alt="{{ post.alt }}" style="width:100%"></a>
            <div class="w3-container w3-center">
                <ul style="list-style: none">
                    <li>Date: {{ post.date }}</li>
                    <li>Author: {{ post.author }}</li>
                    <li style="text-align: left">
                        <p>{{ post.excerpt }}</p>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        {% for post in site.posts limit:2 %}
        <div class="w3-card-4">
            <a href="{{ post.url }}"><img src="{{ post.img }}" alt="{{ post.alt }}" style="width:100%"></a>
            <div class="w3-container w3-center">
                <ul style="list-style: none">
                    <li>Date: {{ post.date }}</li>
                    <li>Author: {{ post.author }}</li>
                    <li style="text-align: left">
                        <p>{{ post.excerpt }}</p>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>