---
layout: blog-default
---

<head>
    <!-- meta tags -->
    <meta name="description" content="This is a blog website where Benjamin Carlson writes about various computer science related concepts including tutorials
    and current news.">
    <meta name="keywords" content="blog, computer science blog, learn python, benjamin carlson blog">
</head>

<!-- Slider -->
{% for post in site.posts limit:1 %}
<div class="img-container">
    <img class="img-slider" src="{{ post.img }}" alt="{{ post.alt }}">
    <div class="bottom-left container">
        <p>By <strong><a class="left" style="color: #fff"
                    href="{{ site.baseurl }}/blog/authors/{{ post.author }}">{{ post.author }}</a></strong> in
            <strong><a style="color: #fff"
                    href="{{ site.baseurl }}/blog/start-here" class="left">{{ post.categories[0] }}</a></strong></p>
        <a class="a-main-post-title" href="{{ site.url }}/{{ post.url }}">
            <h2 style="color: #fff">{{ post.title }}</h2>
        </a>
        <a href="{{ site.url }}/{{ post.url }}"><button class="btn btn-primary">Read Article <i
                    class="fa fa-arrow-right"></i></button></a>
    </div>
</div>
{% endfor %}

<div class="container">
    <!-- First post section -->
    <div class="flex-container">
        {% for post in site.posts offset:1 limit:6 %}
        <div class="card" style="width: 22rem; margin-top: -30px; margin-bottom: 35px;" data-aos="fade-up">
            <a href="{{ site.url }}{{ post.url }}"><img class="card-img-top" src="{{ site.url }}{{ post.img }}"
                    alt="{{ post.alt }}"></a>
            <div class="card-body">
                {% for category in post.categories %}
                <div class="category-container">
                    <a href="{{ site.baseurl }}/blog/start-here" class="card-post-categories left left2">
                        <p>{{ category }}</p>
                    </a>
                </div>
                {% endfor %}
                <a href="{{ site.url }}{{ post.url }}">
                    <h3 class="card-post-title">{{ post.title }}</h3>
                    <p class="card-post-description">{{ post.description }}...</p>
                </a>
                <small class="card-post-author-date">Written by <a class="left left2" style="color: #2e3141"
                        href="{{ site.baseurl }}/blog/authors/{{ post.author }}">{{ post.author }}</a> on
                    {{ post.date | date: '%B %d, %Y' }}</small>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Ad -->
    <div class="container">
        {% include home-ad.html %}
    </div>

    <!-- Second post section -->
    <div class="row">
        <div class="col-lg-9">
            {% for post in site.posts limit:3 offset:7 %}
            <div class="row" data-aos="fade-up">
                <div class="col-md-4">
                    <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img }}" alt="{{ post.alt }}"
                            class="img-post-second-section"></a>
                </div>
                <div class="col-md-8">
                    {% for category in post.categories %}
                    <div class="category-container">
                        <a href="{{ site.baseurl }}/blog/start-here" class="card-post-categories">
                            <p>{{ category }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    <a href="{{ site.url }}{{ post.url }}">
                        <h3 class="card-post-title">{{ post.title }}</h3>
                        <p class="card-post-description">{{ post.description }}...</p>
                    </a>
                    <small class="card-post-author-date">Written by <a
                            href="{{ site.baseurl }}/blog/authors/{{ post.author }}">{{ post.author }}</a> on
                        {{ post.date | date: '%B %d, %Y' }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>

{% include footer-files.html %}