---
layout: blog-default
---

<div class="container">
    <hr>
    <h2>All posts by Benjamin Carlson</h2>
    <hr>
    <div class="flex-container">
        {% for post in site.posts %}
        <div class="card" style="width: 22rem; margin: 10px 0;" data-aos="fade-up">
            <a href="{{ site.url }}{{ post.url }}"><img class="card-img-top" src="{{ site.url }}{{ post.img }}"
                    alt="{{ post.alt }}"></a>
            <div class="card-body">
                {% for category in post.categories %}
                <div class="category-container">
                    <a href="{{ site.baseurl }}/blog/start-here" class="card-post-categories">
                        <p>{{ category }}</p>
                    </a>
                </div>
                {% endfor %}
                <a href="{{ site.url }}{{ post.url }}">
                    <h3 class="card-post-title">{{ post.title }}</h3>
                    <p class="card-post-description">{{ post.description }}...</p>
                </a>
                <small class="card-post-author-date">Written by <a
                        href="{{ site.baseurl }}/blog/authors/{{ post.author }}">{{ post.author }}</a> on
                    {{ post.date | date: '%B %d, %Y' }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
