---

---

<head>
    {% include header.html %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
</head>

<body>
    <div class="container">
        {% include nav.html %}
    </div>

    <div class="img-container">
        {% include post-featured-image.html image=page.img alt=page.alt title=page.title categories=page.categories author=page.author date=page.date %}
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                {{ content }}
            </div>
            <div class="col-lg-3">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
    {% include comments.html %}
    {% include footer.html %}
    {% include footer-files.html %}
</body>